.friendContainer {
  display: flex;
  flex-wrap: wrap;
}
.allFriend {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-evenly;
}
.friendList {
  flex-basis: 20%;
  /* border-left: 3px solid gray; */
}
@media (max-width: 768px) {
  .allFriend {
    flex-basis: 100%;
  }
  .friendList {
    flex-basis: 100%;
  }
}
